.hdr{
    background-color:#4E02B0;
    margin: auto;
    display: flex;
    position: fixed;
    margin-top: -50vh;
}

.hdr .logo{
    display: flex;
    padding: 1.6rem ;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.hdr .logo img{
    box-sizing: border-box;
    display: flex;
    height: 10rem;
    transition: 0.5s;
}

.hdr .logo img:hover{
    width: 30vw;
    height: 10rem;
    transition: 0.5s;
}