.container{
    background-color: lightblue;
    display: flex;
    box-sizing: border-box;
    height: min-content;
    width: min-content;
    padding: 1.2rem;
    border-radius: 4rem;
}

.ident{
    background-color: #000000;

}
.avatar p{
    border-radius: 5rem;
    width: 0.2rem;
    height: 0.2rem;
    background-color: #ffffff;
}