.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: ;
    height: 80%;
    box-sizing: border-box;
}

.champs{
    background-color: #C5C1C9;
    box-sizing: border-box;
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.champName{
    background-color: #9149FC;
    display: flex;
    align-items: center;
    justify-self: center;
    box-sizing: content-box;
    margin-top: -1vw;
    padding: 0.5rem;
    color: #ffffff;
    border-radius: 0.5rem;
    width: 100%;
}




.results{
    background-color: #9149FC;
    display: block;
    align-items: center;
    justify-self: center;
    box-sizing: content-box;
    top: 0;
    padding: 0.5rem;
    color: #ffffff;
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 1rem;
}

